.card  {
  padding: 0.5rem;
}

.col-sm6 {
  padding: 0.5rem;
} 

.pixel {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
    margin-left: 12rem;
    margin-right: 12rem;
}

hr.hr-text::before {
  content: attr(data-content);
  display: inline-block;
  background: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  color: #999;
  border-radius: 30rem;
  padding: 0.2rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}